CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8081/'
app.indexPage = ''

# Database MySQL / MariaDB
database.default.hostname = localhost
database.default.database = db_permohonan_jti
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

# Session
 cookie.prefix = ''
 cookie.httponly = true
 cookie.samesite = 'Lax'
